<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; SnugCamps</span><br>
        <span class="text-muted">Developed By Shamikh</span>
    </div>
</footer>